/* --- СЕКЦИЯ FAQS --- */
/* .faqs {
    padding: 80px 0;
    background-color: #fff;
} */


.faq .section__title {
    letter-spacing: 2px;
}
.faq__list {
    max-width: 800px; /* Ограничиваем ширину как на скрине */
    margin: 0 auto;
}

.faq__item {
    border-bottom: 1px solid #EAEAEA;
}

.faq__item:first-child {
    border-top: 1px solid #EAEAEA;
}

.faq__question {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    text-align: left;
    cursor: pointer;
    font-family: inherit;
}

/* Иконка плюса */
.faq__icon {
    font-size: 24px;
    font-weight: 400;
    transition: transform 0.3s ease;
}

/* Магия плавного открытия ответа (без JS-расчетов) */
.faq__answer {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease;
}

/* Скрываем контент, пока сетка свернута */
.faq__answer-content {
    overflow: hidden;
}

/* Стили самого текста внутри */
.faq__answer-content p {
    font-size: 15px;
    line-height: 1.6;
    color: #666;
    padding-bottom: 24px; /* Отступ снизу, чтобы текст не прилипал к бордеру */
    margin: 0;
}

/* --- СОСТОЯНИЕ ОТКРЫТОЙ ВКЛАДКИ --- */
/* Разворачиваем сетку */
.faq__item.is-active .faq__answer {
    grid-template-rows: 1fr;
}

/* Поворачиваем плюс на 45 градусов, чтобы стал крестиком */
.faq__item.is-active .faq__icon {
    transform: rotate(45deg);
}