
section {
    margin-bottom: 200px;
}

.section__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* max-width: 800px; */
    margin: 0 auto 56px;
    width: 100%;
}
.section__subtitle {
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    color: #957800;
    width: 100%;
}
h2.section__title {
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #000;
    margin: 16px 0;
    width: 100%;
}
.section__description {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #545454;
    width: 100%;
}

/* .card__tag {

}
.card__title {

}
.card__text {

} */