@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}

/* 1. Общие сбросы и переменные */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-bg: #FEF4CC; /* Тот самый кремовый из doola */
    --color-dark: #000;
    --font-main: 'Inter', -apple-system, sans-serif;
}

body {
    font-family: var(--font-main);
    background-color: #fff; /* Фон контента белый */
}

.container {
    max-width: 1224px;
    margin: 0 auto;
    padding: 8px 0px;
}

.header {
    background-color: var(--color-bg);
    position: sticky;
    top: 0;
    padding-top: 30px;
    z-index: 1000;
    transition: 300ms;
}

/* Новый класс, который будет вешаться через JS при скролле */
.header.is-scrolled {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    background-color: var(--color-bg);
    padding-top: 0px;
    transition: 300ms;
}

/* Основная панель навигации */
.header__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-size: 32px;
    font-weight: 900;
    text-decoration: none;
    color: var(--color-dark);
    letter-spacing: -1.5px;
    margin-right: 40px;
}

.header__logo img {
    width: 160px;    
}

/* Меню */
.nav__list {
    display: flex;
    list-style: none;
    /* gap: 32px; */
}

.nav__link {
    text-decoration: none;
    color: var(--color-dark);
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    /* gap: 4px; */
}

.nav__item {
    margin-right: 40px;
    position: relative;
    display: inline-block;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__item img  {
    width: 22px;
    height: 22px;
    padding: 6px;
}

/* Состояние по умолчанию */
.arrow {
    width: 12px; /* подбери нужный размер */
    height: 12px;
    margin-left: 6px;
    transition: transform 0.3s ease; /* Плавность анимации */
}

/* Анимация при наведении на родителя (nav__item) */
.nav__item:hover .arrow {
    transform: rotate(-180deg); /* Поворот на 180 градусов против часовой стрелки */
}

/* Скрываем меню по умолчанию */
.dropdown-menu {
    margin-top: 10px;
    display: none;
    position: absolute;
    top: 100%; /* Вешаем прямо под ссылкой */
    left: 0;
    background: #fff;
    min-width: 246px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    padding: 0px;
    flex-direction: column;
    z-index: 100;
}

.dropdown-menu::before {
    content: "";
    position: absolute;
    top: -20px; /* Высота должна быть равна или чуть больше отступа от ссылки */
    left: 0;
    width: 100%;
    height: 20px; /* Создаем невидимую зону */
    display: block;
}

/* Показываем при наведении на nav-item */
.nav__item:hover .dropdown-menu {
    display: flex;
}

/* Стили для пунктов внутри меню */
.dropdown-item {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    border-radius: 0 8px 8px 0;
    transition: background 0.3s;
    transition: all 0.2s ease; /* Плавный переход для цвета и фона */
    border-left: 4px solid transparent;
}

.dropdown-item:hover {
  background: #fcfcfc;
  color: #be6f1a;
  border-left: 4px solid #FA9022;
}

.icon {
  margin-right: 12px;
  font-size: 1.2em;
}

/* Правый блок (Questions + Button) */
.header__right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header__questions {
    font-size: 14px;
    font-weight: 500;
    margin-right: 8px;
}

.btn--primary {
    background: #fff;
    color: var(--color-dark);
    padding: 14px 28px;
    border-radius: 50px; /* Круглая кнопка */
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    transition: 0.2s ease;
}

.btn--primary:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #FA9022;
    color: #fff;
    transition: 0.2s ease;
}